<aside id="left-panel" class="left-panel" style="background: whitesmoke">
    <nav class="navbar navbar-expand-sm navbar-default" style="background: whitesmoke">
        <div id="main-menu" class="main-menu collapse navbar-collapse" style="background: whitesmoke">
            <ul class="nav navbar-nav">
                <li class="active" style="background: whitesmoke" >
                    <a href="{% url 'dashboard' %}"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                </li>
                <li class="menu-title" style="color: darkblue">Inventory Management</li><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-hospital-o"></i>Depots</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-circle" style="color: darkblue"></i><a href="{% url 'create-supplier' %}">Add</a></li>
                        <li><i class="fa fa-eye" style="color: darkblue"></i><a href="{% url 'supplier-list' %}">View</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-h-square"></i>Sites</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-circle" style="color: darkblue"></i><a href="{% url 'create-buyer' %}">Add</a></li>
                        <li><i class="fa fa-eye" style="color: darkblue"></i><a href="{% url 'buyer-list' %}">View</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tags"></i>Category</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-circle" style="color: darkblue"></i><a href="{% url 'create-drop' %}">Add</a></li>
                        <li><i class="fa fa-eye" style="color: darkblue"></i><a href="{% url 'drop-list' %}">View</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-medkit"></i>Product</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-circle" style="color: darkblue"></i><a href="{% url 'create-product' %}">Add</a></li>
                        <li><i class="fa fa-eye" style="color: darkblue"></i><a href="{% url 'product-list' %}">View</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-shopping-cart"></i>Order</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-circle" style="color: darkblue"></i><a href="{% url 'create-order' %}">Add</a></li>
                        <li><i class="fa fa-eye" style="color: darkblue"></i><a href="{% url 'order-list' %}">View</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-truck"></i>Delivery</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-circle" style="color: darkblue"></i><a href="{% url 'create-delivery' %}">Add</a></li>
                        <li><i class="fa fa-eye" style="color: darkblue"></i><a href="{% url 'delivery-list' %}">View</a></li>
                    </ul>
                </li>
               <!--Patient manager-->
                <li class="menu-title" style="color: darkgreen">Subject Management</li><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-user-md"></i>Subject Matrix</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-circle" style="color: darkgreen"></i><a href="{% url 'create-supplier' %}">Add/Enroll</a></li>
                        <li><i class="fa fa-eye" style="color: darkgreen"></i><a href="{% url 'supplier-list' %}">View</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-calendar"></i>Subject Tasks</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-circle" style="color: darkgreen"></i><a href="{% url 'create-supplier' %}">Schedule Event</a></li>
                        <li><i class="fa fa-eye" style="color: darkgreen"></i><a href="{% url 'supplier-list' %}">View</a></li>
                    </ul>
                </li>                
               <!--EDC tasks-->
               <li class="menu-title" style="color: darkgoldenrod">Electronic Data Capture</li><!-- /.menu-title -->
               <li class="menu-item-has-children dropdown" >
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cloud-upload"></i>Import Data</a>
                   <ul class="sub-menu children dropdown-menu">
                       <li><i class="fa fa-plus-circle" style="color: darkgoldenrod"></i><a href="{% url 'create-supplier' %}">Import</a></li>
                       <li><i class="fa fa-eye" style="color: darkgoldenrod"></i><a href="{% url 'supplier-list' %}">View</a></li>
                   </ul>
               </li>
               <li class="menu-item-has-children dropdown" >
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cloud-download"></i>Export Data</a>
                <ul class="sub-menu children dropdown-menu">
                    <li><i class="fa fa-plus-circle" style="color: darkgoldenrod"></i><a href="{% url 'create-supplier' %}">Export</a></li>
                    <li><i class="fa fa-eye" style="color: darkgoldenrod"></i><a href="{% url 'supplier-list' %}">View</a></li>
                </ul>
            </li>
               <li class="menu-item-has-children dropdown" >
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-database"></i>Dataset</a>
                   <ul class="sub-menu children dropdown-menu">
                       <li><i class="fa fa-plus-circle" style="color: darkgoldenrod"></i><a href="{% url 'create-supplier' %}">Create Dataset</a></li>
                       <li><i class="fa fa-eye" style="color: darkgoldenrod"></i><a href="{% url 'supplier-list' %}">View</a></li>
                   </ul>
               </li> 
               <li class="menu-item-has-children dropdown" >
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-calendar-o"></i>Study Events</a>
                <ul class="sub-menu children dropdown-menu">
                    <li><i class="fa fa-plus-circle" style="color: darkgoldenrod"></i><a href="{% url 'create-supplier' %}">Visit Dataset</a></li>
                    <li><i class="fa fa-eye" style="color: darkgoldenrod"></i><a href="{% url 'supplier-list' %}">View</a></li>
                    <li><i class="fa fa-plus-circle" style="color: darkgoldenrod"></i><a href="{% url 'create-supplier' %}">Lab Dataset</a></li>
                    <li><i class="fa fa-eye" style="color: darkgoldenrod"></i><a href="{% url 'supplier-list' %}">View</a></li>                    
                    <li><i class="fa fa-plus-circle" style="color: darkgoldenrod"></i><a href="{% url 'create-supplier' %}">CRF Attributes</a></li>
                    <li><i class="fa fa-eye" style="color: darkgoldenrod"></i><a href="{% url 'supplier-list' %}">View</a></li>                       
                </ul>
                <!--Misc tasks-->
                <li class="menu-title" style="color: darkslategrey">Misc Tasks</li><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-sticky-note-o"></i>Notes & Discrepancies</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-circle" style="color: darkslategrey"></i><a href="{% url 'create-supplier' %}">Add Note</a></li>
                        <li><i class="fa fa-eye" style="color: darkslategrey"></i><a href="{% url 'supplier-list' %}">View</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bell-o"></i>Remainders</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-circle" style="color: darkslategrey"></i><a href="{% url 'create-supplier' %}">Add Remainder</a></li>
                        <li><i class="fa fa-eye" style="color: darkslategrey"></i><a href="{% url 'supplier-list' %}">View</a></li>
                    </ul>
                </li>  

            </li>                
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>